
.propertySwiper {
  overflow: hidden;
}

.property-card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    display: block;
    width: 100%;
  }
  .aspect-ratio{
    aspect-ratio: 1/1; 
  }
}

#propertyTabs .nav-link {
  border-radius: 999px;
  border: 1px solid var(--bs-primary);
  padding: 0.5rem 1rem;
}

@media (min-width: 992px) {
  #propertyTabs {
    justify-content: flex-end !important;
    margin-left: 0;
  }
  
}

