

.properties-top{
 background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0) 100%);
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
 
}
.properties-bottom{
 background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0) 100%);
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
 
}
