

.real-estate {
  .banner-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-grid {
      position: relative;
      width: 100%;
      max-width: 520px;
      margin: auto;
    }

    .top-img {
      position: absolute;
      top: -9%;
      right: -23%;
    }

    .bottom-img {
      position: absolute;
      bottom: 10%;
      right: -23%;
    }

    .circle-badge {
      position: absolute;
      top: -22%;
      right: 15%;
      z-index: 3;
    }
}

  // Info box style
  .info-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

  }
}

// Responsive Layout Adjustments
@media (max-width: 991.98px) {
  .real-estate .banner-images .img-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
  }

  .top-img,
  .bottom-img {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    width: 100%;
  }

  .circle-badge {
    display: none;
  }
}

// Tablet: 768px – 991px
@media (max-width: 991.98px) {
  .real-estate {
    .banner-images {
      .img-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .top-img,
      .bottom-img,
      .main-img {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        
      }

      .circle-badge {
        top: -40px;
        right: 0;
        width: 120px;
        z-index: 2;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .real-estate {
    .banner-images {
      .img-grid {
        gap: 1px;
      }

      .circle-badge {
        top: -30px;
        right: 0;
        width: 100px;
      }
    }
    
  }
}


@media (max-width: 575.98px) {
  .real-estate {
    .banner-images {
      .img-grid {
        gap: .5rem;
        padding: 1rem .4rem;
      }

      .top-img,
      .bottom-img,
      .main-img {
        width: 50%;
        border-radius: 16px;
      }

      .circle-badge {
        display: none;
      }
    }
  }
}

