.pt-217 {
  padding-top: 217px;
}


.custom-carousel-indicators {
  position: relative;
  bottom: 4%;
  left: 83%;
  transform: translateY(-150%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
}

.testimonials-round {
  background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0) 100%);
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  top: 20%;
  position: absolute;
  left: 0%;
}

@media(max-width: 768px) {
  .testimonials-round {
    top: 3%;
    left: 80%;
  }
}



.testimonials {
  .carousel-indicators [data-bs-target] {

    width: 5px;
    height: 34px;
  }

}